RewriteEngine On

# Redireciona raiz/ para front/pages/
RewriteRule ^$ front/pages/ [L]

# Redireciona raiz/front para front/pages/
RewriteRule ^front/?$ front/pages/ [L]

# Redireciona /pagina para /front/pages/pagina.php apenas se não for extensão de arquivo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]{2,4}$  [NC]
RewriteRule ^([a-zA-Z0-9_-]+)$ front/pages/$1.php [L]
