DirectoryIndex index.php

RewriteEngine On
RewriteBase /brincaqui/api/src/visit/

# Redireciona tudo que não seja arquivo/diretório para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
