<div class="card">
  <div class="card-body d-grid gap-3">
    <span id="play-pictures"></span>

    <h5 class="card-title" id="play-name"></h5>

    <div class="row">
      <div class="row">
        <div class="col-4"><i class="bi bi-star-fill"></i> <span id="play-grade" class="brin-grade"></span></div>
        <div class="col"><i class="bi bi-signpost"></i> <span id="play-neighborhood"></span>, <span id="play-city"></span>
        </div>
      </div>
      <div class="row">
        <div class="col"><i class="bi bi-emoji-smile"></i><span class="label">Idades:</span> <span
            id="play-ages"></span>
        </div>
      </div>
    </div>


    <span id="play-commodities"></span>
  </div>
</div>