<div class="card mb-3">
  <div class="card-body">
    <!-- <h5 class="card-title title"></h5> -->
    <p id="play-name"></p>
    <p id="play-pictures"></p>
    <p id="play-grade"></p>
    <p id="play-socials"></p>
    <p id="play-description"></p>
    <p id="play-times"></p>
    <p id="play-commodities"></p>
    <p id="play-prices"></p>
    <p id="play-discounts"></p>
    <p id="play-telephone"></p>
    <p id="play-email"></p>
    <p id="play-cnpj"></p>
    <p id="play-ages"></p>
    <p id="play-owner"></p>
    <p id="play-faves"></p>
    <p id="play-visits"></p>
  </div>
</div>
