<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title" id="play-name"></h5>
    <span id="play-pictures"></span>
    <p><i class="bi bi-star-fill"></i> <span id="play-grade" class="brin-grade"></span></p>
    <span id="play-commodities"></span>
    <p><i class="bi bi-percent"></i><span class="label">Descontos:</span></p>
    <p><span id="play-discounts"></span></p>
    <p><i class="bi bi-emoji-smile"></i><span class="label">Idades:</span> <span id="play-ages"></span></p>
    <p><i class="bi bi-signpost"></i> <span id="play-neighborhood"></span>, <span id="play-city"></span></p>
  </div>
</div>